<p id="notice"><%= notice %></p>
<div class="container">
<h1>Technicians</h1>
  <table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Expertise Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technicians.each do |technician| %>
      <tr>
        <td><%= technician.tech_name %></td>
        <td><%= technician.technician_status.tech_status %></td>
        <td><%= technician.tech_expertise_notes %></td>
        <td><%= link_to 'Show', technician %></td>
        <td><%= link_to 'Edit', edit_technician_path(technician) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
      <a class="btn btn-outline" href="technicians/new">New Technician</a>
    </div>
</div>

