<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>IMEI Number</th>
    <th>Version</th>
    <th>Color</th>
    <th>Notes</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @devices.each do |device| %>
      <tr>
        <td><%= device.imei_number.to_s %></td>
        <td><%= device.device_version.device_version_name %></td>
        <td><%= device.device_color.color_name %></td>
        <td><%= device.device_notes %></td>
        <td><%= link_to 'View Order', edit_repair_order_path(device.repair_order) %></td>
      </tr>
  <% end %>
  </tbody>
</table>