<p id="notice"><%= notice %></p>
<div class="container">
<h1>Devices</h1>

  <%= form_tag devices_path, :method => 'get', :id => "devices_search" do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>
  <div id="devices"><%= render 'devices' %></div>



<br>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
   <a class="btn btn-outline" href="devices/new">New Device</a>
  </div>
</div>