<p id="notice"><%= notice %></p>

<p>
  <strong>IMEI Number:</strong>
  <%= @device.imei_number %>
</p>

<p>
  <strong>Version:</strong>
  <%= @device.device_version %>
</p>

<p>
  <strong>Type:</strong>
  <%= @device.device_type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @device.device_color %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @device.device_notes %>
</p>

<p>
  <strong>Repair Order:</strong>
  <%= @device.repair_order %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
