<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @device_pre_test.device %>
</p>

<p>
  <strong>Test:</strong>
  <%= @device_pre_test.test %>
</p>

<p>
  <strong>Pre Test Condition:</strong>
  <%= @device_pre_test.pre_test_condition %>
</p>

<%= link_to 'Edit', edit_device_pre_test_path(@device_pre_test) %> |
<%= link_to 'Back', device_pre_tests_path %>
