<p id="notice"><%= notice %></p>

<p>
  <strong>Version Name:</strong>
  <%= @device_version.device_version_name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @device_version.device_manufacturer.device_manu_name %>
</p>

<%= link_to 'Edit', edit_device_version_path(@device_version) %> |
<%= link_to 'Back', device_versions_path %>
