<table class="table table-responsive table-hover">
  <thead>
  <tr>
    <th>Customer ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Receive Calls?</th>
    <th>Receive Texts?</th>
    <th>Zip Code</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.customer_fname %></td>
        <td><%= customer.customer_lname %></td>
        <td><%= customer.customer_email %></td>
        <td><%= number_to_phone(customer.customer_phone) %></td>
        <td><%= customer.something_yn %></td>
        <td><%= customer.something_yn2 %></td>
        <td><%= customer.customer_zip %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'The customer may not be removed as it is associated with a repair order. Close window?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>