<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="field">
        <%= form.label :customer_fname, "First Name" %>
        <%= form.text_field :customer_fname, id: :customer_customer_fname %>
      </div>

      <div class="field">
        <%= form.label :customer_lname, "Last Name" %>
        <%= form.text_field :customer_lname, id: :customer_customer_lname %>
      </div>

      <div class="field">
        <%= form.label :customer_email, "Email" %>
        <%= form.text_field :customer_email, id: :customer_customer_email %>
      </div>

      <div class="field">
        <%= form.label :customer_phone, "Phone Number" %>
        <%= form.text_field :customer_phone, placeholder: "ex: 111-111-2222" , id: :customer_customer_phone %>
      </div>

      <div class="field">
        <%= form.label :customer_call, "Receive Calls?" %>
        <%= form.check_box :customer_call, id: :customer_customer_call %>
      </div>

      <div class="field">
        <%= form.label :customer_text, "Receive Texts?" %>
        <%= form.check_box :customer_text, id: :customer_customer_text %>
      </div>

      <div class="field">
        <%= form.label :customer_zip, "Zip Code" %>
        <%= form.text_field :customer_zip, id: :customer_customer_zip %>
      </div>

        <%= form.fields_for :repair_orders do |builder| %>
            <%= render 'repair_order', form: builder %>
        <% end %>


  <div class="actions">
     <button type="submit" class="btn btn-outline btl-lg btn-block"> Create the Customer</button>
  </div>

<% end %>
