<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<%= form_tag customers_path, :method => 'get', :id => "customers_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<div id="customers"><%= render 'customers' %></div>

<br>

<%= link_to 'New Customer', new_customer_path %>
