<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.customer_fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.customer_lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= number_to_phone(@customer.customer_phone) %>
</p>

<p>
  <strong>Receive Calls?:</strong>
  <%= @customer.customer_call %>
</p>

<p>
  <strong>Receive Texts?:</strong>
  <%= @customer.customer_text %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @customer.customer_zip %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
