<%= form_with(model: repair_order_item, local: true) do |form| %>
  <% if repair_order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair_order_item.errors.count, "error") %> prohibited this repair_order_item from being saved:</h2>

      <ul>
      <% repair_order_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :device_component_id, "Component" %>
    <%= form.collection_select :device_component_id, DeviceComponent.all, :id, :device_comp_name %>
  </div>

  <div class="field">
    <%= form.label :technician_id, "Technician" %>
    <%= form.collection_select :technician_id, Technician.all, :id, :tech_name %>
  </div>

  <div class="field">
    <%= form.label :warranty_expire_date, "Warranty Expiration Date" %>
    <%= form.date_select :warranty_expire_date, id: :repair_order_item_warranty_expire_date %>
  </div>

  <div class="field">
    <%= form.label :warranty_coverage_notes, "Warranty Coverage Notes" %>
    <%= form.text_field :warranty_coverage_notes, id: :repair_order_item_warranty_coverage_notes %>
  </div>

  <div class="field">
    <%= form.label :repaired_as_warranty, "Reaired As Warranty" %>
    <%= form.check_box :repaired_as_warranty, id: :repair_order_item_repaired_as_warranty %>
  </div>

  <div class="field">
    <%= form.label :warranty_repair_date, "Warranty Repair Date" %>
    <%= form.date_select :warranty_repair_date, id: :repair_order_item_warranty_repair_date %>
  </div>

  <div class="field">
    <%= form.label :device_id, "Device" %>
    <%= form.text_field :device_id, id: :repair_order_item_device_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
