<p id="notice"><%= notice %></p>
<div class="container">
<h1>Items in Repair Orders</h1>
  <table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Component</th>
      <th>Technician</th>
      <th>Warranty Expiration Date</th>
      <th>Warranty Coverage Notes</th>
      <th>Repaired as Warranty</th>
      <th>Warranty Repair Date</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_order_items.each do |repair_order_item| %>
      <tr>
        <td><%= repair_order_item.device_component_id %></td>
        <td><%= repair_order_item.technician %></td>
        <td><%= repair_order_item.warranty_expire_date %></td>
        <td><%= repair_order_item.warranty_coverage_notes %></td>
        <td><%= repair_order_item.repaired_as_warranty %></td>
        <td><%= repair_order_item.warranty_repair_date %></td>
        <td><%= repair_order_item.device %></td>
        <td><%= link_to 'Show', repair_order_item %></td>
        <td><%= link_to 'Edit', edit_repair_order_item_path(repair_order_item) %></td>
        <td><%= link_to 'Destroy', repair_order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
    <a class="btn btn-outline" href="repair_order_items/new">New Repair Order Item</a>
  </div>
</div>