<p id="notice"><%= notice %></p>
<div class="container">
<h1>Device Colors</h1>

<table>
  <thead>
    <tr>
      <th>Color Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_colors.each do |device_color| %>
      <tr>
        <td><%= device_color.color_name %></td>
        <td><%= link_to 'Show', device_color %></td>
        <td><%= link_to 'Edit', edit_device_color_path(device_color) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device Color', new_device_color_path %>
</div>