<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @device_component.device_version %>
</p>

<p>
  <strong>Name:</strong>
  <%= @device_component.device_comp_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @device_component.device_comp_color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @device_component.device_comp_description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @device_component.device_component_status %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @device_component.device_comp_cost %>
</p>

<%= link_to 'Edit', edit_device_component_path(@device_component) %> |
<%= link_to 'Back', device_components_path %>
