<div class="form-row">
  <div class="col">
    <div class="field">
      <%= form.label :customer_fname, "First Name" %>
      <%= form.text_field :customer_fname, placeholder: "ex: John", id: :customer_customer_fname %>
    </div>
  </div>
  <div class="col">
    <div class="field">
      <%= form.label :customer_lname, "Last Name" %>
      <%= form.text_field :customer_lname, placeholder: "ex: Smith", id: :customer_customer_lname %>
    </div>
  </div>

  <div class="col">
    <div class="field">
      <%= form.label :customer_email, 'Email' %>
      <%= form.text_field :customer_email, placeholder: "ex: example@mail.com", id: :customer_customer_email %>
    </div>
  </div>

  <div class="col">
    <div class="field">
      <%= form.label :customer_phone, 'Phone Number' %>
      <%= form.text_field :customer_phone, placeholder: "ex: 7131112222" , id: :customer_customer_phone %>
    </div>
  </div>
  <!--changed order -->
  <div class="col">
    <div class="field">
      <%= form.label :customer_zip, "Zip Code" %>
      <%= form.text_field :customer_zip, id: :customer_customer_zip %>
    </div>
  </div>
</div>
<!-- second row -->
<div class="container">
<div class="row flex-end justify-content-center">
  <h6> Does the customer want to receive calls or texts?</h6>
</div>

<div class="row  flex-end justify-content-center">
  <div class="col-sm-1">
    <%= form.label :customer_call, "Calls" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :customer_call, id: :customer_customer_call %>
  </div>


  <div class="col-sm-1">
    <%= form.label :customer_text, "Texts" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :customer_text, id: :customer_customer_text %>
  </div>

</div>
</div>
