<fieldset>
  <table>
    <tr>
      <td>
        <div class="icon">
          <%= link_to image_tag("https://i.imgur.com/xJea3q2.png"), '#', class: "remove_record" %>
        </div>
        <%= form.hidden_field :_destroy, as: :hidden %>
        </td>
      <td>
        <div class="field">
          <%= form.label :test_id %>
          <%= form.collection_select :test_id, Test.all, :id, :test_name %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.label :post_test_condition, "Post-Test Condition" %>
          <%= form.check_box :post_test_condition, id: :device_post_test_post_test_condition %>
        </div>
      </td>
    </tr>
  </table>
</fieldset>