<p id="notice"><%= notice %></p>
<div class="container">
<h1>Repair Orders</h1>

  <%= form_tag repair_orders_path, :method => 'get', :id => "repairs_search" do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>

  <div id="repair_orders"><%= render 'repair_orders' %></div>

<br>

    <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
      <a class="btn btn-outline" href="repair_orders/new">New Repair Order</a>
    </div>
</div>