<p id="notice"><%= notice %></p>

<p>
  <strong>Repair Order Status:</strong>
  <%= @repair_order.repair_order_status %>
</p>

<p>
  <strong>Repair Order Date:</strong>
  <%= @repair_order.repair_order_date %>
</p>

<p>
  <strong>Repair order subtotal:</strong>
  <%= number_to_currency(@repair_order.repair_order_subtotal) %>
</p>

<p>
  <strong>Repair order tax:</strong>
  <%= number_to_currency(@repair_order.repair_order_tax) %>
</p>

<p>
  <strong>Repair order total:</strong>
  <%= number_to_currency(@repair_order.repair_order_total) %>
</p>

<p>
  <strong>Repair Order Accessories:</strong>
  <%= @repair_order.repair_order_accessories %>
</p>

<p>
  <strong>Repair Order Notes:</strong>
  <%= @repair_order.repair_order_notes %>
</p>

<p>
  <strong>Repair order status date:</strong>
  <%= @repair_order.repair_order_status_date %>
</p>

<%= link_to 'Edit', edit_repair_order_path(@repair_order) %> |
<%= link_to 'Back', repair_orders_path %>
