<p id="notice"><%= notice %></p>

<p>
  <strong>Repair Order Status:</strong>
  <%= @repair_order.repair_order_status.repair_order_status %>
</p>

<p>
  <strong>Repair Order Date:</strong>
  <%= @repair_order.repair_order_date %>
</p>

<p>
  <strong>Repair Order Subtotal:</strong>
  <%= number_to_currency(@repair_order.repair_order_subtotal) %>
</p>

<p>
  <strong>Repair Order Tax:</strong>
  <%= number_to_currency(@repair_order.repair_order_tax) %>
</p>

<p>
  <strong>Repair Order Total:</strong>
  <%= number_to_currency(@repair_order.repair_order_total) %>
</p>

<p>
  <strong>Repair Order Accessories:</strong>
  <%= @repair_order.repair_order_accessories %>
</p>

<p>
  <strong>Repair Order Notes:</strong>
  <%= @repair_order.repair_order_notes %>
</p>

<p>
  <strong>Repair Order Status Date:</strong>
  <%= @repair_order.repair_order_status_date %>
</p>

<%= link_to 'Edit', edit_repair_order_path(@repair_order) %> |
<%= link_to 'Back', repair_orders_path %>
